@page "/AddInvoice/{id}"
@inject IAddInvoiceViewModel _serviceInvoice
@inject NavigationManager navMng

<h3>AddInvoiceView</h3>

@code {

    [Parameter]
    public string Id { get; set; }

    public CustomerResponse Customer { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSetAsync();

        try
        {
            await _serviceInvoice.GetCustomerAsync(Id);
        }
        catch (Exception)
        {
            // TODO pop up Customer not found
            navMng.NavigateTo("/");
        }

        Customer = _serviceInvoice.Customer;
    }
}
