@page "/AddInvoice/{Customer:string}"

@inject NavigationManager navMng

<PageTitle>AddInvoiceView</PageTitle>

<h1>AddInvoiceView!</h1>

Welcome to your new app.

@code{

    [Parameter]
    public string Customer { get; set; }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}