<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OrchestrationUrl" value="http://localhost:7089/Orchestration/"/>
		<add key="localeDb" value="false"/>
		<add key="Development" value="Data Source=ROG-STRIX\\SQLEXPRESS;Initial Catalog=QueasoTraining;Integrated Security=True;Pooling=False;Encrypt=True;Trust Server Certificate=True"/>
		<add key="Live" value="Data Source=81.95.114.131;Initial Catalog=Thibeault;User Id=sa;Password=Que@SO9000;Encrypt=True;Trust Server Certificate=True"/>
	</appSettings>
</configuration>